{% extends 'base.html.twig' %}
{% block title %}Dashboard
{% endblock %}
{% block body %}
	<div class="page-wrapper">
		<div class="content">

			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html">Dashboard
								</a>
							</li>
							<li class="breadcrumb-item">
								<i class="feather-chevron-right"></i>
							</li>
							<li class="breadcrumb-item active">Admin Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="good-morning-blk">
				<div class="row">
					<div class="col-md-6">
						<div class="morning-user">
							<h2>Good Morning,
								<span>Daniel Bruk</span>
							</h2>
							<p>Have a nice day at work</p>
						</div>
					</div>
					<div class="col-md-6 position-blk">
						<div class="morning-img">
							<img src="assets/img/morning-img-01.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="dash-widget">
						<div class="dash-boxs comman-flex-center">
							<img src="assets/img/icons/calendar.svg" alt="">
						</div>
						<div class="dash-content dash-count">
							<h4>Appointments</h4>
							<h2>
								<span class="counter-up">250</span>
							</h2>
							<p>
								<span class="passive-view">
									<i class="feather-arrow-up-right me-1"></i>40%</span>
								vs last month</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="dash-widget">
						<div class="dash-boxs comman-flex-center">
							<img src="assets/img/icons/profile-add.svg" alt="">
						</div>
						<div class="dash-content dash-count">
							<h4>New Patients</h4>
							<h2>
								<span class="counter-up">140</span>
							</h2>
							<p>
								<span class="passive-view">
									<i class="feather-arrow-up-right me-1"></i>20%</span>
								vs last month</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="dash-widget">
						<div class="dash-boxs comman-flex-center">
							<img src="assets/img/icons/scissor.svg" alt="">
						</div>
						<div class="dash-content dash-count">
							<h4>Operations</h4>
							<h2>
								<span class="counter-up">56</span>
							</h2>
							<p>
								<span class="negative-view">
									<i class="feather-arrow-down-right me-1"></i>15%</span>
								vs last month</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="dash-widget">
						<div class="dash-boxs comman-flex-center">
							<img src="assets/img/icons/empty-wallet.svg" alt="">
						</div>
						<div class="dash-content dash-count">
							<h4>Earnings</h4>
							<h2>$<span class="counter-up">
									20,250</span>
							</h2>
							<p>
								<span class="passive-view">
									<i class="feather-arrow-up-right me-1"></i>30%</span>
								vs last month</p>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-md-12 col-lg-6 col-xl-9" style="width: 50%;">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col">
									<h5 class="card-title">Popular by Speciality
									</h5>
								</div>
								<div class="col-auto">
									<select class="select">
										<option>This Week</option>
										<option>This Month</option>
									</select>
								</div>
							</div>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive">
								<table class="table table-borderless">
									<tbody>
										<tr class="speciality-item">
											<td class="spl-name">
												<div class="spl-box">
													<img src="{{ asset('/admin1/assets/img/icon/urology.png')}}" alt="User Image">
												</div>
												<div class="spl-count">
													<h6>Urology</h6>
													<p>Patients : 400</p>
												</div>
											</td>
											<td class="con-revenue">
												<p class="text-muted">Revenue</p>
												<h6>$6000K</h6>
											</td>
											<td class="spl-consult">
												<p class="text-muted">Consultations</p>
												<h6>200</h6>
											</td>
										</tr>
										<tr class="speciality-item">
											<td class="spl-name">
												<div class="spl-box">
													<img src="{{ asset('/admin1/assets/img/icon/neurology.png')}}" alt="User Image">
												</div>
												<div class="spl-count">
													<h6>Neurology</h6>
													<p>Patients : 980
													</p>
												</div>
											</td>
											<td class="con-revenue">
												<p class="text-muted">Revenue</p>
												<h6>$6000K</h6>
											</td>
											<td class="spl-consult">
												<p class="text-muted">Consultations</p>
												<h6>98</h6>
											</td>
										</tr>
										<tr class="speciality-item">
											<td class="spl-name">
												<div class="spl-box">
													<img src="{{ asset('/admin1/assets/img/icon/ortho.png')}}" alt="User Image">
												</div>
												<div class="spl-count">
													<h6>Orthopedic</h6>
													<p>Patients : 600</p>
												</div>
											</td>
											<td class="con-revenue">
												<p class="text-muted">Revenue</p>
												<h6>$6000K</h6>
											</td>
											<td class="spl-consult">
												<p class="text-muted">Consultations</p>
												<h6>78</h6>
											</td>
										</tr>
										<tr class="speciality-item">
											<td class="spl-name">
												<div class="spl-box">
													<img src="{{ asset('/admin1/assets/img/icon/cardio.png')}}" alt="User Image">
												</div>
												<div class="spl-count">
													<h6>Urology</h6>
													<p>Patients : 400</p>
												</div>
											</td>
											<td class="con-revenue">
												<p class="text-muted">Revenue</p>
												<h6>$6000K</h6>
											</td>
											<td class="spl-consult">
												<p class="text-muted">Consultations</p>
												<h6>65</h6>
											</td>
										</tr>
										<tr class="speciality-item">
											<td class="spl-name">
												<div class="spl-box">
													<img src="{{ asset('/admin1/assets/img/icon/dental.png')}}" alt="User Image">
												</div>
												<div class="spl-count">
													<h6>Urology</h6>
													<p>Patients : 400</p>
												</div>
											</td>
											<td class="con-revenue">
												<p class="text-muted">Revenue</p>
												<h6>$6000K</h6>
											</td>
											<td class="spl-consult">
												<p class="text-muted">Consultations</p>
												<h6>59</h6>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-6 col-xl-3 d-flex" style="width: 50%;">
					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<h5 class="card-title">Top Doctors</h5>
								</div>
							</div>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive">
								<table class="table doc-table">
									<tbody>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a class="avatar-pos avatar-online" href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-05.jpg" alt="User Image"></a>
													<a href="#" class="user-name">
														<span class="text-muted">Dr. Rayan</span>
														<span class="tab-subtext">Gyanoclogist</span>
													</a>
												</h2>
											</td>
											<td>
												<span class="table-rating">
													<i class="fas fa-star me-2"></i>
													4.5</span>
											</td>
											<td class="text-right">
												<span class="text-muted">200 Patients</span>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a class="avatar-pos avatar-online" href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-10.jpg" alt="User Image"></a>
													<a href="#" class="user-name">
														<span class="text-muted">Dr. Bea</span>
														<span class="tab-subtext">Dentist</span>
													</a>
												</h2>
											</td>
											<td>
												<span class="table-rating">
													<i class="fas fa-star me-2"></i>
													4.9</span>
											</td>
											<td class="text-right">
												<span class="text-muted">180 Patients</span>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a class="avatar-pos avatar-offline" href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-11.jpg" alt="User Image"></a>
													<a href="#" class="user-name">
														<span class="text-muted">Dr. Monroe</span>
														<span class="tab-subtext">Hair Specialities</span>
													</a>
												</h2>
											</td>
											<td>
												<span class="table-rating">
													<i class="fas fa-star me-2"></i>
													4.8</span>
											</td>
											<td class="text-right">
												<span class="text-muted">160 Patients</span>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a class="avatar-pos avatar-offline" href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-13.jpg" alt="User Image"></a>
													<a href="#" class="user-name">
														<span class="text-muted">Dr. Lester</span>
														<span class="tab-subtext">Orthopaedics</span>
													</a>
												</h2>
											</td>
											<td>
												<span class="table-rating">
													<i class="fas fa-star me-2"></i>
													4.7</span>
											</td>
											<td class="text-right">
												<span class="text-muted">140 Patients</span>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a class="empty-user" href="profile.html">
														<i class="feather-user"></i>
													</a>
													<a href="#" class="user-name">
														<span class="text-muted">Dr. Clint</span>
														<span class="tab-subtext">Neurology</span>
													</a>
												</h2>
											</td>
											<td>
												<span class="table-rating">
													<i class="fas fa-star me-2"></i>
													4.6</span>
											</td>
											<td class="text-right">
												<span class="text-muted">120 Patients</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% block datatable %}
				<div class="row">
					<div class="col-12 col-md-12  col-xl-4"></div>

				</div>
				<div class="row">
					<div class="col-12 col-xl-12">
						<div class="card">

							<div class="card-header border-bottom-0">
								<div class="row align-items-center">
									<div class="col">
										<h5 class="card-title">Recent Patient Activity</h5>
									</div>
									<div class="col-auto d-flex">
										<div class="bookingrange btn btn-white btn-sm">
											<div class="cal-ico">
												<span>Select Date</span>
												<i class="feather-chevron-down ms-1"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table table-borderless hover-table">
										<thead class="thead-light">
											<tr>
												<th>ID</th>
												<th>Patient</th>
												<th>Disease</th>
												<th>Member since
												</th>
												<th>Status</th>
												<th class="text-right"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>#4546</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-07.jpg" alt="User Image"></a>
														<a href="#" class="user-name">Bess Twishes
															<span class="text-muted">Male, 40 Years Old</span>
														</a>
													</h2>
												</td>
												<td>
													<span class="disease-name">Allergies & Asthma</span>
												</td>
												<td>
													<span class="text-yellow user-name">New Patient</span>
													<span class="d-block">23 Nov 2020</span>
												</td>
												<td>
													<span class="badge bg-badge-grey text-success">
														<i class="fas fa-circle me-1"></i>
														Enabled</span>
												</td>
												<td class="text-right">
													<i class="feather-chevron-right"></i>
												</td>
											</tr>
											<tr>
												<td>#8774</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-04.jpg" alt="User Image"></a>
														<a href="#" class="user-name">Bess Twishes
															<span class="text-muted">Female,30 Years Old</span>
														</a>
													</h2>
												</td>
												<td>
													<span class="disease-name">Sleep Problem</span>
												</td>
												<td>
													<span class="text-danger user-name">Old Patient</span>
													<span class="d-block">23 Nov 2020</span>
												</td>
												<td>
													<span class="badge bg-badge-grey text-danger">
														<i class="fas fa-circle me-1"></i>
														Disabled</span>
												</td>
												<td class="text-right">
													<i class="feather-chevron-right"></i>
												</td>
											</tr>
											<tr>
												<td>#4546</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-02.jpg" alt="User Image"></a>
														<a href="#" class="user-name">Abdul Aziz Lazis
															<span class="text-muted">Male, 25 Years Old</span>
														</a>
													</h2>
												</td>
												<td>
													<span class="disease-name">Tooth Pain</span>
												</td>
												<td>
													<span class="text-danger user-name">Old Patient</span>
													<span class="d-block">23 Nov 2020</span>
												</td>
												<td>
													<span class="badge bg-badge-grey text-success">
														<i class="fas fa-circle me-1"></i>
														Enabled</span>
												</td>
												<td class="text-right">
													<i class="feather-chevron-right"></i>
												</td>
											</tr>
											<tr>
												<td>#4546</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html"><img class="avatar avatar-img" src="assets/img/profiles/avatar-05.jpg" alt="User Image"></a>
														<a href="#" class="user-name">Alex Siauw
															<span class="text-muted">Male, 29 Years Old</span>
														</a>
													</h2>
												</td>
												<td>
													<span class="disease-name">Pain on knee</span>
												</td>
												<td>
													<span class="text-yellow user-name">New Patient</span>
													<span class="d-block">23 Nov 2020</span>
												</td>
												<td>
													<span class="badge bg-badge-grey text-success">
														<i class="fas fa-circle me-1"></i>
														Enabled</span>
												</td>
												<td class="text-right">
													<i class="feather-chevron-right"></i>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				{% endblock %}
			</div>
			<div class="notification-box">
				<div class="msg-sidebar notifications msg-noti">
					<div class="topnav-dropdown-header">
						<span>Messages</span>
					</div>
					<div class="drop-scroll msg-list-scroll" id="msg_list"></div>
					<div class="topnav-dropdown-footer">
						<a href="chat.html">See all messages</a>
					</div>
				</div>
			</div>
		</div>


	{% endblock %}

